*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: absolute;
    display: flex;
    flex-direction: row;
}
.section1{
    border: 10px solid black;
    width: 300px;
    height: 400px;
    background-color: red;
}
.section2{
    position: relative;
    top: 400px;
    left: -300px;
    border: 10px solid black;
    width: 300px;
    height: 400px;
    background-color: yellow;
}
.section3{
    position: relative;
    top: 800px;
    left: -600px;
    border: 10px solid black;
    width: 300px;
    height: 180px;
    background-color: purple;
}
.section4{
    position: absolute;
    left: 300px;
    border: 10px solid black;
    width: 1338px;
    height: 800px;
    background-color: aqua;
}
.section5{
    position: absolute;
    top: 800px;
    left: 300px;
    border: 10px solid black;
    width: 1300px;
    height: 180px;
    background-color: seagreen;
}
.section6{
    position: absolute;
    top: 800px;
    left: 1600px;
    border: 10px solid black;
    width: 38px;
    height: 90px;
    background-color: salmon;
}
.section7{
    position: absolute;
    top: 890px;
    left: 1600px;
    border: 10px solid black;
    width: 38px;
    height: 90px;
    background-color: lime;
}